<h1>Dashboard#index</h1>

<h2>Messages</h2>
<ul>
  <% @messages.group_by(&:contact_number).each do |from, messages| %>
    <li>
      <%= from %>
      <%= form_tag(message_reply_path(messages.last.network_id), style: 'display: inline;') do %>
        <%= text_field_tag :content, nil, required: true, placeholder: 'text message' %>
        <%= button_tag('send text', type: :submit) %>
      <% end %>
      <ul>
        <% messages.each do |message| %>
          <li>
            <%= (message.outbound? ? '&#128228;' : '&#128229;').html_safe %>
            <%= message.content %>
            &mdash;
            <em><%= time_ago_in_words message.created_at %> ago</em>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Calls</h2>
<ul>
  <% @calls.each do |call| %>
    <li>
      created: <%= call.created_at %><br/>
      <% if call.outbound? %>
      to: <%= call.to %><br/>
      <% else %>
      from: <%= call.from %><br/>
      <% end %>
      duration: <%= call.duration %><br/>
      direction: <%= call.outbound ? 'outbound' : 'inbound' %>
    </li>
  <% end %>
</ul>

