<h1>Accounts#edit</h1>
<p>Find me in app/views/accounts/edit.html.erb</p>

<%= form_for @account, url: account_path, method: :put do |f| %>
  <%= f.label :twilio_sid %> <%= f.text_field :twilio_sid %>
  <%= f.label :twilio_token %> <%= f.text_field :twilio_token %>

  <h3>Whitelist:</h3>
  <input-list
    input-name="account[whitelist][]"
    <% @account.whitelist&.each_with_index do |number, i| %>
      <%= "list-item-#{i}=#{number}" %>
    <% end %>
    >
  </input-list>
  <%= f.submit %>
<% end %>

<%= render partial: 'twilio_overview' if twilio_creds_valid? %>

