<h1>Accounts#edit</h1>
<p>Find me in app/views/accounts/edit.html.erb</p>

<%= form_for @account, url: account_path, method: :put do |f| %>
  <%= f.label :twilio_sid %> <%= f.text_field :twilio_sid %>
  <%= f.label :twilio_token %> <%= f.text_field :twilio_token %>

  <h3>Whitelist:</h3>
  <input-list
    input-name="account[whitelist][]"
    <% @account.whitelist&.each_with_index do |number, i| %>
      <%= "list-item-#{i}=#{number}" %>
    <% end %>
    >
  </input-list>
  <%= f.submit %>
<% end %>

<h3>Twilio Numbers</h3>
<ul>
  <% @numbers.each do |number| %>
    <li>
      <%= number.phone_number %>
      <%= number.voice_application_sid %>
    </li>
  <% end %>
</ul>

<h3>TwiML Apps</h3>
<% @twiml.each do |app| %>
  <ul>
    <li>Name: <%= app.friendly_name %></li>
    <li>Sid: <%= app.sid %></li>
    <li>Voice: <%= app.voice_url %></li>
    <li>SMS: <%= app.sms_url %></li>
  </ul>
<% end %>

<h3>SIP Users</h3>
<ul>
<% sip_addresses.each do |address| %>
  <li><%= address %></li>
<% end %>
</ul>
